<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crime in St. Paul Analysis</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    
</head>
<body>
    <header>
        <h1>Crime In St. Paul</h1>
    </header>

    <!-- Set data variables -->
    <script type = "text/javascript">
      // console.log(crime_data)
      let data = {{ crime_data }};
      let dates = data.date;
      let years = data.year;
      let months = data.month;
      let incidents = data.incident;
      let neighborhoods = data.neighborhood;
    </script>

    <div class="container">
        <div class="container">
            <div class="row">
              <div class="col-md-12 jumbotron text-center">
                <h1>St. Paul Crime Dashboard</h1>
                <p>Use the interactive charts below to explore the dataset</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div class="well">
                  <h5>Year</h5>
                  <select id="selDataset" onchange="optionChanged(this.value)"></select>
                </div>
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Incident Table</h3>
                  </div>
                  <div id="incident" class="panel-body"></div>
                </div>
              </div>
              <div class="col-md-5">
                <div id="bar"></div>
              </div>
              <div class="col-md-5">
                <div id="line"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div id="bubble"></div>
              </div>
            </div>
          </div>


        <!-- Sidebar or navigation menu -->
        <div class="sidebar">
            <ul>
                <li><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
                <li><a href="#section4">Section 4</a></li>
            </ul>
        </div>

        <!-- Main content area -->
        <div class="main-content">
            <section id="section1">
                <h2>Section 1</h2>
            </section>  
            <section id="section2">
                <h2>Section 2</h2>
            <section id="section3">
                <h2>Section 3</h2>
            </section>  
            <section id="section4">
                <h2>Section 4</h2>
            </section>  
        </div>
    </div>

    <!-- D3 JavaScript -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <!-- Chart JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Our JavaScript -->   
    <script src="./static/js/displays.js"></script>
    <!-- Our JavaScript -->   
    <script src="./static/js/bar.js"></script>
    <!-- Our JavaScript -->   
    <script src="./static/js/bubble.js"></script>
    <!-- Our JavaScript -->   
    <script src="./static/js/table.js"></script>
    <!-- Our JavaScript -->   
    <script src="./static/js/line.js"></script>

    <footer>
        <p>&copy; 2023 Group 1 Project 3</p>
    </footer>
</body>
</html>




